<div>
  <h2>Pins</h2>
  <ul>
    <li *ngFor="let pin of pins$ | async">
      <h3>{{ pin.title }}</h3>
      <p>{{ pin.description }}</p>
      <div *ngIf="pin.media">
        <img [src]="pin.media.images['400x300'].url" [width]="pin.media.images['400x300'].width" [height]="pin.media.images['400x300'].height">
      </div>
      <p><a [routerLink]="['/pin', pin.id]">View Pin Details</a></p>
    </li>
  </ul>

  <h3>Create Pin with URL</h3>
  <form [formGroup]="pinForm" (ngSubmit)="createPinWithUrl()">
    <label for="boardId">Board ID:</label>
    <input id="boardId" formControlName="boardId" />
    <label for="title">Title:</label>
    <input id="title" formControlName="title" />
    <label for="description">Description:</label>
    <input id="description" formControlName="description" />
    <label for="mediaUrl">Media URL:</label>
    <input id="mediaUrl" formControlName="mediaUrl" />
    <label for="altText">Alt Text:</label>
    <input id="altText" formControlName="altText" />
    <button type="submit">Create Pin</button>
  </form>

  <h3>Create Pin with Base64</h3>
  <form [formGroup]="pinFormBase64" (ngSubmit)="createPinWithBase64()">
    <label for="boardId">Board ID:</label>
    <input id="boardId" formControlName="boardId" />
    <label for="title">Title:</label>
    <input id="title" formControlName="title" />
    <label for="description">Description:</label>
    <input id="description" formControlName="description" />
    <label for="base64Image">Base64 Image:</label>
    <input id="base64Image" formControlName="base64Image" />
    <label for="altText">Alt Text:</label>
    <input id="altText" formControlName="altText" />
    <button type="submit">Create Pin</button>
  </form>
</div>
