<div class="pins-container">
  <h2>Pins</h2>
  <div class="pins-grid">
    <p-card
      *ngFor="let pin of pins$ | async"
      header="{{ pin.title }}"
      subheader="{{ pin.description }}"
      (click)="viewPinDetails(pin.id)"
      class="pin-card"
    >
      <ng-template pTemplate="header">
        <img
          alt="{{ pin.title }}"
          [src]="getPinImageUrl(pin)"
          class="pin-image"
        />
      </ng-template>
    </p-card>
  </div>

  <h3>Create Pin</h3>
  <div class="form-container">
    <div class="form-box">
      <form [formGroup]="pinForm" (ngSubmit)="createPin()">
        <div class="p-fluid">
          <div class="p-field">
            <label for="title">Title </label>
            <input pInputText id="title" formControlName="title" />
          </div>
          <div class="p-field">
            <label for="description">Description </label>
            <input pInputText id="description" formControlName="description" />
          </div>
          <div class="p-field">
            <label for="altText">Alt Text (optional) </label>
            <input pInputText id="altText" formControlName="altText" />
          </div>
          <div class="p-field">
            <label for="boardId">Board ID (optional) </label>
            <input pInputText id="boardId" formControlName="boardId" />
          </div>
          <div class="p-field">
            <label for="image">Image </label>
            <p-fileUpload name="file" (onSelect)="onFileSelected($event)"></p-fileUpload>
          </div>
          <p-button label="Submit" type="submit"></p-button>
        </div>
      </form>
    </div>
  </div>
</div>
