<div *ngIf="sentimentSummary && feedbackOverview">
  <h1>Analysis Dashboard</h1>
  <div class="dashboard-container">
    <div class="chart-container">
      <app-pie-chart [chartData]="sentimentSummary"></app-pie-chart>
    </div>
    <div class="table-container">
      <app-category-table [data]="feedbackOverview"></app-category-table>
      <p-button
        label="Post on Pinterest"
        (click)="postFeedbackOnPinterest()"
        [disabled]="isPosting">
      </p-button>
    </div>
  </div>
</div>
